[submodule "medusa"]
	path = medusa
	url = https://github.com/jy-momo/medusa.git
[submodule "saleor"]
	path = saleor
	url = https://github.com/jy-momo/1-fork-saleor.git
[submodule "recommend"]
	path = recommend
	url = https://github.com/jy-momo/1-fork-recommend.git
